html,
body {
  background-color: rgb(56, 56, 56);
  color: antiquewhite;
  font-family: "Courier New", Courier, monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

body {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.heading:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  max-width: 50rem;
}

p {
  font-size: 1.2rem;
  line-height: normal;
}

.link-container {
  display: flex;
  gap: 1rem;
}

.link-container a {
  color: rgb(35, 157, 227);
  text-decoration: underline;
}

.codeblock {
  display: flex;
  justify-content: space-between;
  background-color: rgb(73, 73, 73);
  border: 1px solid gray;
  align-items: center;
  padding: 1rem;
}

.codeblock button {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-color: rgb(55, 54, 54);
  border: none;
  outline: none;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}